{{#modal-dialog
  targetAttachment="center"
  translucentOverlay=true}}
    <div id="cipherOption">
        <h1>Getting Started</h1>
        {{fa-icon camera}}
          {{#attach-tooltip arrow=true}}
          Choose a Cipher
          {{/attach-tooltip}}
          {{#power-select
            options=ciphers
            selected=container.cipher
            onchange=(action "setCipher")
            as |cipher|}}
            <strong>{{cipher.longName}}</strong>
          {{/power-select}}

      {{transition-component container=container}}
    </div>
{{/modal-dialog}}
