<div class="dataEntry">Message</div>
<div class="textArea">{{textarea value=container.inputText cols="80" rows="10"}}</div>



<div class="container-fluid">
<div class="menuOptions">
  <button class="btn btn-primary btn-lg" {{action "decryptText"}}>Decrypt Message</button>
  <button class="btn btn-primary btn-lg" {{action "encryptText"}}>Encrypt Message</button>
  {{transition-component container=container}}
</div>
</div>
