{{#modal-dialog
  targetAttachment="center"
  translucentOverlay=true}}
<div class="container-fluid">
  <div class="innerDiv">
    <table class="table table-striped">

      <tr>
        <td class="dataEntry">Private Key</td>
        <td class="textArea">{{textarea value=container.privateKey cols="80" rows="6"}}</td>
      </tr>
      {{#if (eq container.cipher.name "RSA")}}
        <tr>
          <td class="dataEntry">Public Key</td>
          <td class="textArea">{{textarea value=container.publicKey cols="80" rows="6"}}</td>
        </tr>
        {{/if}}
    </table>
  </div>
</div>
  {{transition-component container=container}}
{{/modal-dialog}}
