{{#modal-dialog onClose="toggleModal"
  targetAttachment="center"
  translucentOverlay=true}}
  <h1>Getting Started</h1>
  <div id="cipherOption">Choose a Cipher</div>
  <div class="modalOptions">
    {{#each ciphers as |cipher|}}
      <button type="button" class="btn btn-default"{{action "setCipher" cipher}}>
        {{cipher.longName}} <b>({{cipher.name}})</b>
      </button>
    {{/each}}
      {{#link-to "generate-keys" cipher.name}}NEXT{{/link-to}}
  </div>
{{/modal-dialog}}
