{{#modal-dialog onClose="toggleModal"
  targetAttachment="center"
  translucentOverlay=true}}
  <h1>Getting Started</h1>
  <div id="cipherOption">Choose a Cipher</div>
  <div class="modalOptions">
    {{#each cipherOptions as |cipherOption|}}
      <button type="button" class="btn btn-default"{{action "clearStateAndSetCipher" cipherOption.name}}>
        {{cipherOption.longName}} <b>({{cipherOption.name}})</b>
      </button>
    {{/each}}
      {{#link-to "generate-keys" cipher}}NEXT{{/link-to}}
      <button>BACK</button>
  </div>
{{/modal-dialog}}
