{{! TODO DISABLE BUTTONS UNTIL THE NETWORK REQUEST HAS FINISHED}}
{{#if canMoveBackward}}
  <button type="button" class="btn btn-default" {{action "transitionToPreviousPanel"}}>BACK</button>
{{/if}}
{{#if canMoveForward}}
  <button type="button" class="btn btn-default" {{action "transitionToNextPanel"}}>NEXT</button>
{{/if}}
