@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";

h1 {
  text-align:center;
}

.modalOptions {
  text-align:center;
  //padding:1em;
}

.dataEntry {
    font-size:1.25em;
    //font-weight: bold;
    width:25%;
    padding-left:7em;
    //text-align:right;
}

.textArea {
  width:50%;
}
.innerDiv {
  background-color: #eee;
  padding-top: 2em;
  padding-bottom: 2em;
  display:block;
  width:100%;
}

.menuOptions {
  background-color: #eee;
  margin: auto;
  text-align:center;
  width:50%;
}

.table {
}

.ember-modal-dialog {
  background-color: #eee;
  //text-align:center;
  //line-height:200%;
  //width:50%;
  //height:50%;
}

@import "ember-power-select";
