@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";
@import "ember-power-select";

h1 {
  text-align:center;
}

.dataEntry {
    font-size:1.25em;
    font-weight:bold;
    text-align:center;
    width:100%;
    padding-left:1em;
    padding-right:1em;
}

.cipherButtons {
  padding-top:1em;
}

.textArea {
  width:50%;
}
.innerDiv {
  background-color: #eee;
  padding-top: 2em;
  padding-bottom: 2em;
  display:block;
  width:100%;
}

.menuOptions {
  background-color: #eee;
  margin: auto;
  text-align:center;
  width:100%;
}

.ember-modal-dialog {
  background-color: #eee;
}
